@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>***<a href="api/client">список клиентов</a>.</p>
    <p>***<a href="api/product">список продуктов</a>.</p>
    <p>***<a href="api/order">список заказов</a>.</p>
</div>
