@page
@model ExamMagazinAspNetRazorPage.Pages.IndexModel
@using ExamMagazinAspNetRazorPage
@using ExamMagazinAspNetRazorPage.Models
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<p><a asp-page="/ClientRazor">Клиенты</a></p>
<p><a asp-page="/ClientRazorAdd">Добавить клиента</a></p>
<p><a asp-page="/OrderProductRazor">Заказы-продукты</a></p>
<p><a asp-page="/ProductRazor">Продукты</a></p>
<p><a asp-page="/OrderRazor">Заказы</a></p>
<!--https://www.ezzylearning.net/tutorial/a-developers-guide-to-asp-net-core-razor-pages-->